/* font-family: 'Roboto', sans-serif; */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h1,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

.header {
    border-bottom: 2px solid white;
    padding: 16px 0px 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.container {
    max-width: 1130px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header__container {
    max-width: 1370px;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 187px;
    min-width: 81px;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav-list {
    display: flex;
    column-gap: 34px;
}

.header__item {
    border-bottom: 2px solid transparent;
}

.header__item.active {
    border-bottom-color: white;
}

.header__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.header__contacts {
    display: flex;
    column-gap: 52px;
}

.location {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.location::before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    background: url(../img/icons/location.svg) no-repeat center/contain;
}

.tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.burger {
    width: 47px;
    height: 31px;
    display: none;
    align-items: center;
    position: relative;
}

.burger__el,
.burger__el::after,
.burger__el::before {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 11px;
    background: #D9D9D9;
}

.burger__el::after,
.burger__el::before {
    content: "";
    position: absolute;
}

.burger__el::after {
    bottom: 0;
    right: 0;
    width: 39px
}

.burger__el::before {
    top: 0;
    left: 0;
}

.hero {
    height: 100vh;
    background: url(../img/bg/hero-bg.png) no-repeat center/cover;
    padding-top: 272px;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    z-index: 10;
}

.hero__main {
    padding-left: 92px;
    flex: 1;
}

.title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 17px;
}

.hero__subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 50px;
}

.hero__btns {
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
}

.hero__btn {
    border-radius: 4px;
    background: none;
    padding: 12px 16px;
}

.hero__btn:hover {
    color: white;
    border: none;
    background-color: #ED7173;
}

.btn_theme_white {
    border: 2px solid white;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.hero__call-to-action {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.hero__call-to-action span {
    color: #ED7173;
}

.advantages {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    column-gap: 24px;
}

.advantage {
    text-align: center;
    border-radius: 4px;
    padding: 16px 20px;
}

.hero__advantage {
    flex: 0 1 276px;
    width: 276px;
}

.advantage_theme_transparent {
    border: 2px solid white;
}

.advantage__img {
    width: 30px;
    height: 30px;
}

.advantage__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.about {
    padding: 62px 0px 90px;
    font-size: 20px;
}

.about__container {
    max-width: 922px;
}

.section-title {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    color: #E7E7E7;
    margin-bottom: 10px;
}

.section-subtitle {
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #252525;
    margin-bottom: 40px;
}

.about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: item-count;
}

.about__item {
    width: 48%;
    padding-top: 70px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 51px;
}

.about__item::before {
    counter-increment: item-count;
    content: "0" counter(item-count);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.17;
    color: #E7E7E7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}

.about__item-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #252525;
}

.benefits {
    min-height: 519px;
    background: url(../img/bg/car.png) no-repeat center/cover;
    padding: 60px 0px 90px;
}

.benefits-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.benefits-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.benefit__list {
    display: flex;
    gap: 16px;
}

.benefit__item {
    width: 211px;
    height: 211px;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefit__img {
    width: 35px;
    height: 35px;
    margin-bottom: 29px;
}

.benefit__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #252525;
}

.services {
    padding: 62px 0px 90px;
}

.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #E7E7E7;
    margin-bottom: 10px;
}

.services-subtitle {
    text-align: center;
    width: 620px;
    height: 46px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #252525;
    margin-bottom: 60px;
}

.service {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.service__item {
    flex: 0 1 calc((100% - 60px)/ 4);
    border: 2px solid #D5D5D5;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 60px;
    transition: background 0.3s;
}

.service__item:hover {
    border: 2px solid #ED7173;
    background-color: #ED7173;
}

.service__link {
    display: block;
    width: 100%;
}

.service__item-img {
    width: 100%;
    padding-top: 83.5%;
    position: relative;
}

.service__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.service__item-desc {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #252525;
    padding: 13px 10px;
}

.service__item-desc:hover {
    color: white;
}

.btn {
    width: 170px;
    height: 44px;
    background: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #252525;
    border: 2px solid #D5D5D5;
    border-radius: 4px;
    padding: 12px 17px 13px;
    transition: background 0.3s;
}

.btn:hover {
    color: white;
    border: none;
    background-color: #ED7173;
}

.reviews {
    padding: 58px 0px 90px;
    background: url(../img/bg/review-bg.png) no-repeat center/cover;
}

.reviews-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.reviews-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 66px;
}

.reviews__image {
    text-align: center;
}

.review__img {
    width: 455px;
    height: 136px;
    margin-right: 20px;
}

.review__img:last-child {
    margin: 0px;
}

.works {
    padding: 62px 0px 90px;
}

.works__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #E7E7E7;
    margin-bottom: 10px;
}

.works-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #252525;
    margin-bottom: 60px;
}

.works__list {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    justify-content: space-between;
    width: 100%;
}

.works__item {
    flex: 0 1 calc((100% - (20px * 3)) / 4);
}

.works__item:hover .work__img:nth-child(2) {
    opacity: 0;
}

.works__link {
    display: block;
    padding-top: 100%;
    position: relative;
}

.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
}

@media (max-width: 960px) {
    .header__logo {
        max-width: 181px;
    }

    .location {
        display: none;
    }

    .container {
        max-width: 898px;
    }

    .hero {
        padding-top: 210px;
    }

    .hero__main {
        padding-left: 73px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 725px;
    }

    .header__logo {
        max-width: 142px;
    }

    .header__nav {
        display: none;
    }

    .header__contacts {
        display: none;
    }

    .burger {
        display: flex;
    }

    .hero {
        padding-top: 170px;
    }

    .hero::after {
        top: 0;
        left: 0;
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 19.11%);
    }

    .hero__main {
        padding-left: 61px;
    }

    .hero__advantage {
        flex: 0 1 221px;
    }

    .advantage {
        font-size: 14px;
        padding: 10px 10px;
    }

    .advantage__img {
        width: 24px;
        height: 24px;
    }
}