/* font-family: 'Roboto', sans-serif; */
ul>li {
    list-style: none;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 100%;
}

.header {
    height: 91px;
    border-bottom: 2px solid white;
}

.container {}

.header__container {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding-top: 10px;
}

.logo__link {}

.logo__img {}

.header__nav-list {
    display: flex;
    padding-top: 48px;
}

.header__item {
    margin-right: 38px;
}

.header__item:last-child {
    margin-right: 0px;
}

.header__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.contacts {
    display: flex;
    padding-top: 48px;
}

.location {
    display: flex;
    margin-right: 53px;
}

.location__img {
    width: 15px;
    height: 15px;
}

.location__addres {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.phone {}

.tel {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.main {}

.hero {}

.hero__main {}

.hero__advantages {}